body {
  background-color: pink;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  position: relative;
  align-items: center;
  padding: 50px 100px 80px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(239, 80, 106, 0.4);
}
p {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}
.buttons {
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
}
.btn {
  padding: 12px 36px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 200;
}
#yes {
  background-color: rgb(239, 80, 106);
  color: white;
  border: 0;
}
#no {
  background-color: white;

  border: 1px solid rgba(107, 106, 106, 0.486);
}
.meme {
  width: 200px;
  margin: 15px 0;
  border-radius: 12px;
}
